<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}} - {{config 'app.name'}}</title>
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>
  {{> header}}

  <div class="container">
    {{#if flash.success}}
      <div class="alert alert-success">
        {{flash.success}}
      </div>
    {{/if}}

    {{#if flash.error}}
      <div class="alert alert-danger">
        {{flash.error}}
      </div>
    {{/if}}

    <main>
      {{{body}}}
    </main>
  </div>

  {{> footer}}
  
  <script src="/js/app.js"></script>
</body>
</html>
